.cart-master {
    margin-top: 8rem;
    padding: 2rem;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.delete-cart-item-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.delete-cart-item-button:hover {
    background-color: darkred;
}