* {
    margin: 0%;
    padding: 0%;
}
/*
.navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    transition: top 0.4s ease;
}

.navbar.show { 
    top: 0; 
}

.navbar.hide {
    top: -136px; 
}
*/

.navbar-master {
    background-color: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    width: 100%;
}
/* navbar marvinno image */
.navBarLogoImageHeight {
    height: 52px;
    width: auto;
    margin-bottom: 1rem;
}

/* marvinno image to align to center */
.navbarLogoAlignCenterCss {
    text-align: center;
}

/* home icon navbar */
.homeLogoNavbar {
    height: 25px;
    width: auto;
    background-color: white;
    margin-bottom: 10px;
}

/* ul elements make decoration */
.ulElementsNavbar {
    width: 100%;
    margin: auto;
    margin-bottom: 0.6rem;
    /* max-width: 1500px; */
    display: flex;
    text-align: center;
    place-content: center;
    text-decoration: none;
    padding: 0;
}

/* li elements */
.liElementsNavbar {
    justify-content: center;
    display: inline;
    font-size: large;
    margin: 0% 5%;
}

/* products nav item no margin left as it is the first element */
.productsMarginLeft {
    margin-left: 0%;
}

/* text alteration links */
.liElementsLink {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: large;
}
.liElementsLink img {
    mix-blend-mode: multiply;
}

/* hovering li elements color change */
.liElementsLink:hover {
    color: black;
}

.a-elements-navbar {
    position: relative;
    font-size: 1.3rem;
    /* font-weight: 500; */
    letter-spacing: 0.05em;
}

.a-elements-navbar::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2.5px;
    bottom: 0;
    left: 0;
    background-color: #3e8a2dce;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.a-elements-navbar:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.li-elements-navbar {
    color: black;
    transition: all 0.7s ease-in-out;
}

/* ----------------------media queries nav bar------------------------ */
@media only screen and (max-width: 768px) {
    /* navbar marvinno image */
    .navBarLogoImageHeight {
        height: 48px;
        width: auto;
    }

    .liElementsLink:hover {
        font-size: large;
        text-decoration: none;
    }

    .ulElementsNavbar {
        margin-bottom: 20px;
        padding: 0% 5%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    /* marvinno image to align to center */
    .navbarLogoAlignCenterCss {
        text-align: center;
    }

    /* home icon navbar */
    .homeLogoNavbar {
        height: 24px;
        width: auto;
    }

    .liElementsNavbar {
        /* width: fit-content; */
        display: flex;
        place-content: center;
    }

    .liElementsNavbar-home {
        justify-self: center;
    }

    .liElementsNavbar-solutions {
        margin-left: 10px;
    }

    /* text alteration links */
    .liElementsLink {
        font-weight: 400;
        text-align: left;
    }
}

@media (max-width: 460px) {
    .navBarLogoImageHeight {
        height: 36px;
        margin-bottom: 0.2rem;
    }
    .ulElementsNavbar {
        margin-bottom: 0.4rem;
    }
    .liElementsLink {
        font-weight: 350;
        font-size: 0.75em;
    }

    .liElementsLink:hover {
        color: black;
        font-size: 0.75em;
        text-decoration: none;
    }
}
